.cv-section {
  padding: 2rem;
  min-height: 80vh;
  @include flex(space-evenly, center, column);
  margin-top: 3rem;
  img{
    width: 100%;
  }
  .download-btn {
    width: 100%;
    padding: 2rem 2rem;
    text-align: center;
    // margin-left: 2rem;
    margin: 2rem 0;
    border: 1px solid $blue;
    background-color: white;
    transition: 0.5s all ease-in-out;
    &:hover {
      cursor: pointer;
      background-color: $blue;
      color: white;
    }
    .fa-download {
      margin-right: 1rem;
    }
  }
}
